@media (min-width: 576px) {
    .container, .container-sm {
        width: 540px;
    }
}
@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        width: 720px;
    }
}
@media (min-width: 768px) {
    .container, .container-md, .container-sm {
       width: 720px;
    }
}
@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        width: 1140px;
    }
}
