

  .title{
    width: 100%;
      h1{
        font-size: 21px;
      }
      img{
        width: 70px;
        margin: auto;
      }
  }

.forms{
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 100%;
  margin: 30px auto;
  .input-group{
     display: flex;
       flex-direction: row;
       margin: 10px;
    input{
      display: flex;
       margin: 10px;
width: 80%;
    }
    button{
      display: flex;
       flex-direction: row;
       margin-left: 10px;
    }
  }

}

.table{
  tbody{
    tr{
      td{
        button:first-child{
          margin-right: 15px;
        }
      }
    }
  }
}
